
<script language="javascript" type="text/javascript" src="js/jquery.flot.js"></script>
		<script type="text/javascript">

	$(function() {

		var d1 = [];
		for (var i = 0; i < 14; i += 0.5) {
			d1.push([i, Math.sin(i)]);
		}

		var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];

		var d3 = [];
		for (var i = 0; i < 14; i += 0.5) {
			d3.push([i, Math.cos(i)]);
		}

		var d4 = [];
		for (var i = 0; i < 14; i += 0.1) {
			d4.push([i, Math.sqrt(i * 10)]);
		}

		var d5 = [];
		for (var i = 0; i < 14; i += 0.5) {
			d5.push([i, Math.sqrt(i)]);
		}

		var d6 = [];
		for (var i = 0; i < 14; i += 0.5 + Math.random()) {
			d6.push([i, Math.sqrt(2*i + Math.sin(i) + 5)]);
		}

		$.plot("#placeholder", [{
			data: d1,
			lines: { show: true, fill: true }
		}, {
			data: d2,
			bars: { show: true }
		}, {
			data: d3,
			points: { show: true }
		}, {
			data: d4,
			lines: { show: true }
		}, {
			data: d5,
			lines: { show: true },
			points: { show: true }
		}, {
			data: d6,
			lines: { show: true, steps: true }
		}]);

		// Add the Flot version string to the footer

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

	</script>
    
    
<div class="container">

     <section style="padding-bottom: 20px; padding-top: 20px;">
         <div class="row">
             <div class="col-xs-6 .col-sm-4">
                 <img src="images/250x250.png" class="img-rounded img-responsive" />
                 <br />
                 <br />
                 <label>Ad Soyad :  {{bileklikapp._name}}</label>
                 <br />
                 <br />
                 <label>Yaş :  {{bileklikapp._age}}</label>
                 <br />
                 <br />
                 <label>Cinsiyet :  {{bileklikapp._gender}}</label>

                 <br>
                 <br>
                 <br>
                 <a href="#" class="btn btn-success">Update Details</a>
                 <br /><br/>
             </div>

             <div class="col-xs-6 .col-sm-4">
                 <div class="alert alert-info">
                     <h4>Hasta Fiziksel Özellikleri</h4>
                     
                     <p>Boy :  {{bileklikapp._height}}</p>
                     <p>Kilo :  {{bileklikapp._weight}}</p>
                     <p> </p>
                     
                     <h4>Konum Koordinatları</h4>
                     <p>X :  {{bileklikapp._coordinateX}}</p>
                     <p>Y :  {{bileklikapp._coordinateY}}</p>
                     
                 </div>


             </div>

              <div class="col-xs-6 .col-sm-4">
                 <div class="alert alert-info">
                     <h4>Hasta Sağlık Bilgileri</h4>
                     
                     <p>(Son) Nabız Değeri :  {{bileklikapp._heartRate}}</p>
                     <p>(Son) Kandaki Oksijen Değeri :  {{bileklikapp._bloodoxy}}</p>
                     <p> </p>
                     
                     <h4>Hasta Yakın Bilgileri</h4>
                     
                     <p>1. Yakın Ad Soyad :  ---</p>
                     <p>1. Telefon :  ---</p>
                 </div>
         </div>
         <!-- ROW END -->

         </div>
         <!-- ROW END -->

          <!-- SECOND ROW START -->
               <div class="row">
             <div class="col-xs-6 .col-sm-4">
                   <div id="content">

 <div class="demo-container">
   <div id="placeholder" class="demo-placeholder"></div>
 </div>

</div>
 </div>

       <div class="col-xs-6 .col-sm-4 contacts-right">

                 <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=16&center=41.0420%2C29.0090&key=AIzaSyDIZW8eigppOP_4jC3qBWrMl5d-Gnw_4z4"></iframe>
     </div>

             </div>
              <!--SECOND ROW END -->

     </section>
     <!-- SECTION END -->
   </div>
