<div class="container">
  
  </div>
<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->


  <table id="table" class="table table-bordered table-hover table-mc-teal table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Ad Soyad</th>
          <th>BPM</th>
          <th>Detay</th>
					<th>Konum</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="some1 in bileklikapps">
          <td data-title="#"> </td>
          <td data-title="Ad Soyad">{{some1._name}}</td>
          <td data-title="BPM">{{some1._heartRate}}</td>
					<td data-title="Detay">
						<a href="#/details/{{some1._id}}">Detay</a>
					</td>
					<td data-title="Konum">
						<a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">Konum</a>
					</td>
        </tr>

      </tbody>
    </table>

  </div>
  <!-- Table Constructor change table classes, you don't need it in your project -->
